.dashboard__requests {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard__add-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-request__filter{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.change-status__img{
  filter: brightness(0) invert(1);
}